.login-container {
  padding: 10px;

  .login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }

  .line {
    flex: 1 1 auto;
    background: var(--theme-color);
    width: 100%;
    height: 1px;
  }

  .login-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    .btn {
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;
      border-radius: 1rem;
    }

    .fb-btn {
      background-color: #1877F2;
      color: #fff;
    }
    .phone-btn {
      background-color: var(--theme-color);
      color: #fff;
    }
    .fb-btn:hover {
      background-color: #005ad3;
      }

    .gmail-btn {
      background-color: #c71610;
      color: #fff;
    }
    .gmail-btn:hover {
      background-color: #be0c06;
    }
  }
}
