.items {
  padding: 1rem;
  font-size: 3vmin;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

.items:hover {
  color: white;
  background-color: var(--theme-color);
  transform: scale(1.1);
  border-radius: 1rem;
  transition: background-color ease 1s, transform ease 1s;
}

.current-item {
  color: var(--theme-color);
  font-weight: 900;
}