.product-container {
  height: 100%;
  width: 100%;

  .box-items {
    height: 25vmin;
    width: 25vmin;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 20vmin;
      height: 20vmin;
      object-fit: contain;
    }
  }

  .box-items:hover {
    transform: translateY(-10px);
    transition: transform ease 500ms;
  }

  .box-items-title {
    color: var(--theme-color);
  }

  .hidden-item {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }

  .info-product {
    img {
      width: 25vmin;
      height: 25vmin;
      margin: auto;
    }
  }

  .content-items {
    .content-title {
      color: var(--theme-color);
      font-size: 1rem;
      font-weight: 600;
    }
    .menu {
      display: flex;
      justify-content: space-between;
      .content-name {
        font-weight: 600;
      }

      .content-price {
      color: var(--theme-color);
      font-weight: 600;

      }
    }
  }
}
