.square {
    background-color:  var(--theme-color);
}

.rotate {
    rotate: 45deg;
}

.transform-left {
    transform: translate(-50%, 50%);
}

.animate-left {
    transform: translate(-50%, 50%);
    transition: transform 1s linear;
}

.animate-right {
    transform: translate(50%, -50%);
    transition: transform 1s linear;
}

.right-position {
    position: absolute;
    right: 0
}
