
.p-inputnumber {
  width: 100%;
}
.p-inputwrapper-focus {
  border:1px solid var(--theme-color);
}
.p-inputnumber-input {
  border:1px solid var(--theme-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}
